/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
 :root{
    --body-color: #E4E9F7;
    --nav-color: #ffffff;
    --side-nav: #ffffff;
    --text-color: #000000;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

 /* navbar */

nav{
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
    .upper-part-nav{
        padding: 10px 45px;
    }
    .email-box h3{
        font-size: 13px;
    }
   
}
/* start-page-section  */

.hero-section{
    width: 90%;
    height: 90vh;
    display: flex;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsl(243, 100%, 7%,0.6) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    flex-wrap: wrap;
}
.left-flexbox{
    width: 45%;
    height: auto;
    margin: 30px;
}
.left-flexbox h3{
    color: #ffffff;
    font-size: 34px;
    position: relative;
}
.left-flexbox h3::before{
    content: 'Welcome to S A Properties';
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: -14px;
}
.right-flexbox{
    width: 45%;
    display: grid;
    place-items: center;
}
.right-flexbox img{
    width: 100%;
    margin: 0 auto;
   
}
/* <!-- about-us --> */

.About-us-section{
    display: flex;
    width:90%;
    height: auto;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: #ffffff;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
.left-section-img img{
    width: 90%;
    height: 90%;
}
.left-section-img {
    width: 30%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.right-section-content{
    width: 40%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: white;
    z-index: 100;

}
body{
    background-color: rgb(219, 219, 255);
}
header .upper-part-nav{
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #767676;
    color: #ffffff;
}
header .upper-part-nav .maharera-detail{
    display: flex;
    margin-right: 10%;
    align-self: center;
    justify-content: center;
    gap: 20px;
}
header .upper-part-nav .email-box{
    margin-left:50px;
}
header.upper-part-nav .email-box h3{
    font-size: 20px;
    font-weight: 900;
}
header .upper-part-nav .maharera-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .upper-part-nav .maharera-detail .maharera-number{
    margin-top: 15px;
}